
$image-path : "../img";

// A Fluid Grid based on 960gs
// A Fluid Grid based on 960gs
$total-columns: 4;
$column-width: 60px;
$gutter-width: 20px;
$grid-padding: 10px;

$container-style: fluid;

@function em($target, $context: 16) {
    @return ($target / $context) * 1em;
}

/*
## font sizes
```
base font size
<h1>h1 heading</h1>
<h2>h2 heading</h2>
```
*/


//mobile first layout
html{min-height:100%;position:relative};

body{
	font-size:em(16);
	height:100%;
};

h1{
	font-size:em(24);
}
h2{
	font-size:em(20);
}

header, footer { clear: both; }

#main { 
	@include container; 
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	overflow:hidden;
	z-index:-1;
	@include susy-grid-background;
	@media screen and ( min-width: 320px )
	{
		$total-columns: 4;
		@include container; 
		@include set-container-width; 
		@include susy-grid-background;
	}
	@media screen and ( min-width: 480px )
	{
		$total-columns: 6;
		@include container; 
		@include set-container-width; 
		@include susy-grid-background;
	}
	@media screen and ( min-width: 720px )
	{
		$total-columns: 9;
		@include container; 
		@include set-container-width; 
		@include susy-grid-background;
	}
	@media screen and ( min-width: 960px )
	{
		$total-columns: 12;
		@include container; 
		@include set-container-width; 
		@include susy-grid-background;
	}
	@media screen and ( min-width: 1200px )
	{
		$total-columns: 15;
		@include container; 
		@include set-container-width; 
		@include susy-grid-background;
	}

}


#example-box{
	@include span-columns(4,4);
	overflow:hidden;
	height:150px;
	background-color:blue;
	@media screen and ( min-width: 480px )
	{
		@include span-columns(3,6);
	}
	@media screen and ( min-width: 720px )
	{
		@include span-columns(4,9);
	}
	@media screen and ( min-width: 960px )
	{
		@include span-columns(4,12);
	}
	@media screen and ( min-width: 1200px )
	{
		@include span-columns(5,15);
	}
}







//@include at-breakpoint(755px 12) {

//}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

}